<h4>Practice for Lecture 5</h4>

<button (click)="OnClick()">
  Toggle Paragraph
</button>

<p *ngIf="showParagraph">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto
  doloribus, inventore quo praesentium deserunt adipisci officia eius aliquid
  similique, repellat odit dolorem dicta error veniam, aut quisquam quaerat
  eligendi.
</p>

<p *ngFor="let item of log; let i = index" [ngStyle]="{background : getBColor(item) }"
  [ngClass]="item > 4 ? 'whiteText' : '' ">
  {{item}} Hello World
</p>



<h4>Practice for Lecture 3</h4>

<input [(ngModel)] = "username">
<p> {{username}} </p>

<button (click) = "onClickB()" [disabled] = "username == ''" >Click Me</button>